* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
  --main-border-radius: 20px;
  --bratgreen: #7cb518;
  --darkgreen: #527201;
  --flameorange: #fb6107;
  --amberorange: #fbb02d;
  --brightyellow: #f3de2c;
}

body {
  background-image: linear-gradient(to bottom, beige, white);
}

/* kapeammille näytöille */

@media screen and (max-width: 600px) {
  p,
  input,
  label,
  button,
  h3 {
    font-size: 32px !important;
  }
  li,
  li a,
  span {
    font-size: 28px !important;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 44px;
  }
  .label-small {
    font-size: 24px !important;
  }
  .login-dialog-container {
    display: block !important;
    width: 100% !important;
    overflow: hidden;
  }
  header {
    display: flex;
    flex-flow: column;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }
  .hero-img {
    flex-direction: column !important;
    background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/hero-mobile.png") !important;
  }
  .hero-left {
    width: 100% !important;
  }
  .centered {
    max-width: 100% !important;
  }
  .pillerimenu {
    flex-direction: column !important;
  }
  .pillerimenu li {
    font-size: 26px;
  }
  .esittely {
    background-image: url("../images/tausta1.png");
  }
  .esittely-flex {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  .esittely-frame {
    width: auto !important;
    height: 100% !important;
    object-fit: cover;
  }
  input[type="text"],
  [type="password"],
  [type="email"] {
    width: 90% !important;
  }
  button,
  input[type="submit"] {
    padding: 15px !important;
    border-radius: 15px !important;
  }
}

label {
  color: var(--darkgreen);
}

.label-small {
  font-size: 12px;
}

.fa-solid {
  display: none;
}

h1 {
  color: var(--darkgreen);
  font-family: Saira;
}

h2 {
  color: var(--flameorange);
  font-family: Saira;
}

h3 {
  font-family: Saira;
}

p {
  margin: 0;
}

i {
  display: inline;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* navbar ja header */

header {
  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  overflow: hidden;
  width: 100%;
}

.page-name {
  color: var(--amberorange);
}

nav {
  background-color: var(--darkgreen);
  padding: 20px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav li {
  list-style-type: none;
  display: block;
}

nav a {
  text-decoration: none;
  color: var(--brightyellow);
}

nav a:hover {
  color: white;
}

nav a:active {
  color: var(--amberorange);
}

nav li:last-child {
  margin-right: 0;
}

.hero-img {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/hero.png");
  background-color: var(--brightyellow);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 250px;
  padding: 10px 50px;
  color: white;
  object-fit: cover;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-text {
  color: white;
}

/* pillerimenu ja yms */

.preferences {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.pillerimenu {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pillerimenu li {
  list-style-type: none;
  display: block;
  border: var(--bratgreen) solid 2px;
  color: var(--flameorange);
  padding: 10px;
  border-radius: var(--main-border-radius);
}

.pillerimenu li:hover {
  background-color: lightgoldenrodyellow;
  border-color: var(--darkgreen);
  cursor: pointer;
}

/* elementit */

.centered {
  margin: auto;
  max-width: 90%;
  box-sizing: border-box;
}

section {
  padding: 10px;
}

.green-text {
  color: var(--darkgreen);
}

/* dialog */

dialog {
  position: fixed;
  margin: auto;
  border: none;
  border-radius: var(--main-border-radius);
  box-shadow: 0px 0px 10px black;
}

.login-dialog-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 10px;
}

dialog::backdrop {
  backdrop-filter: blur(2.5px) brightness(50%);
}

#open-dialog {
  margin: 10px;
}

button:hover,
input[type="submit"]:hover {
  background-image: none;
  background-color: orange;
}

button,
input[type="submit"] {
  background-color: var(--flameorange);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

.button {
  background-image: linear-gradient(
    to bottom,
    var(--flameorange) 50%,
    var(--amberorange) 100%,
    var(--brightyellow) 5%
  );
}

input[type="text"],
[type="password"],
[type="email"] {
  padding: 5px;
  margin-bottom: 5px;
}

input:valid:not(input[type="submit"]) {
  border-left: 5px solid var(--bratgreen);
}

input:invalid {
  border-left: 5px solid var(--flameorange);
}

/* esittely ja absolute img */

.absolute-img {
  position: absolute;
  width: 125px;
  height: 125px;
  top: -70px;
  right: 25px;
  transition: 1s;
}

.absolute-img:hover {
  transform: rotate(1turn);
}

.esittely {
  border-radius: var(--main-border-radius);
  background-image: url("../images/tausta-wide.png");
  background-repeat: no-repeat;
  background-color: var(--flameorange);
  box-shadow: 5px 5px 5px grey;
  padding: 50px;
  min-height: 300px;
  position: relative;
}

.esittely-flex {
  display: flex;
}

.esittely-kuva {
  transition: transform 0.5s;
}

.esittely-frame {
  object-fit: contain;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  flex-grow: 5;
  display: flex;
  min-width: 200px;
  height: 200px;
}

.esittely-teksti {
  color: black;
}

.zoomable-img:hover {
  transform: scale(1.1);
}

/*footer*/

footer {
  background-color: var(--darkgreen);
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--brightyellow);
}

.footer-link {
  display: flex;
}

footer a {
  text-decoration: none;
  color: inherit;
  display: flex;
  gap: 1ex;
  align-items: center;
}

.footer-img {
  height: 1.5em;
}
