* {
    margin: 0;
    font-family:'Segoe UI';
}

:root {
  --main-border-radius: 20px;
}

h1{
    margin: 10px;
}

p{
    margin: 10px;
}

header{
    background-color: darkblue;
    padding: 20px;
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
}

nav{
    float: right;
}

nav li{
    float: left;
    list-style-type: none;
    margin-right: 15px;
}

nav a{
    text-decoration: none;
    color: lightblue;
}

nav a:hover{
    color:white;
}

nav a:active{
    color: yellow;
}

nav li:last-child{
    margin-right: 0;
}

section{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: darkblue;
    color: white;
    margin-top: 10px;
    padding: 10px;
}

footer p{
    text-align: center;
}

.centered{
    width: 1000px;
    margin: auto;
}

.page-name{
    color: white;
}

.absolute-img{
    position: absolute;
    width: 150px;
    height: 150px;
    top: -70px;
    right: -30px;
}

.esittely{
    border-radius: var(--main-border-radius);
    background-image:linear-gradient(to top, rgb(251, 247, 247), rgb(226, 226, 234));
    box-shadow: 5px 5px 5px grey;
    min-height: 250px;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.esittely-kuva{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    float: left;
    margin: 10px;
}